<div class="center hero-unit">
  <h1>Willkommen</h1>

  <h2>
    Diese Homepage wurde mit dem Tutorium 
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    erstellt.
  </h2>

  <%= link_to "Rein mit dir!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
